$pageBgColor: #1E1E24
$secondaryColor: #988570    // Color for searchbox border, searchbox button and place / time text
$thirdColor: #24242A    // Weather response background color
$textColor: #DEDCDC
    
*
    font-family: Montserrat

.weather-container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    background-color: $pageBgColor

.topbar
    height: 5em
    width: 100%
    display: flex
    align-items: center
    margin-top: 2em

.weather-search-container
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.searchbox
    height: 50%
    width: 70%
    border-radius: 15px
    background: none
    border: solid 4px $secondaryColor
    color: $secondaryColor
    font-weight: 700
    font-size: 1.5em
    padding-left: .3em
    margin-left: .1em

.searchbox:focus
    outline: none

::placeholder
    color: #988570

.searchbutton
    height: 4.5em
    width: 4.5em
    margin-left: 1em
    border-radius: 15px
    background-color: $secondaryColor
    border: solid 4px $secondaryColor
    display: flex
    align-items: center
    justify-content: center

.search-btn-icon
    width: 2em

.weather-response-container
    background-color: $thirdColor
    border-radius: 20px
    width: 85%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 5em

.location-n-time
    width: 100%
    margin-left: 3em

.weather-city-name, .city-time
    color: $secondaryColor

.weather-city-name
    font-weight: 800
    font-size: 2em
    margin-bottom: 0
    margin-top: .5em

.city-time
    margin-top: 0
    font-weight: 600
    margin-left: 1em

.temp-n-img
    margin-top: 0
    width: 100%
    background-repeat: no-repeat
    background-position: center
    display: flex
    justify-content: center

.temp
    font-weight: 900
    font-size: 7em
    color: $textColor
    margin-top: 0

.temp-cf
    font-weight: 800
    font-size: 7em
    color: $textColor
    margin-top: 0
    margin-left: .1em

.weather-desc
    font-weight: 600
    font-size: 1.25em
    color: $textColor
    text-align: center

.weather-stats-container
    background-color: $pageBgColor
    display: flex
    width: 100%
    height: 6em
    justify-content: space-between
    margin-top: 1em

.weather-stat
    background-color: $thirdColor
    width: 32%
    height: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    flex-direction: column

.right-stat-box
    border-radius: 0px 0px 20px 0px

.left-stat-box
    border-radius: 0px 0px 0px 20px

.stat-text, .stat-text-addon
    font-weight: 600
    color: $textColor
    font-size: 1em

.stat-text-container
    display: flex

.stat-icon
    width: 1.5em

.stat-text-addon
    margin-left: .2em

.wind-icon
    width: 1.2em

.sunset-icon
    width: 2.25em
    margin-bottom: .15em

.weather-placeholder
    color: $textColor
    font-weight: 800
    font-size: 2em

.forecast-container
    width: 100%
    background-color: $pageBgColor